.subheader {
  margin: 0 10%; }
  .subheader .content {
    margin: 5em 0; }
    .subheader .content span {
      font-size: 35px;
      margin: -5px 10px; }
    .subheader .content div {
      margin: 1em;
      font-size: 20px;
      color: #8993A4; }
