.subheader {
  margin: 0 10%;
  .content {
    margin: 5em 0;
    span {
      font-size: 35px;
      margin: -5px 10px;
    }
    div {
      margin: 1em;
      font-size: 20px;
      color: #8993A4;
    }
  }
}