.videoArchive {
  margin: 0 10%; }
  .videoArchive .nav-tabs li:first-child a, .videoArchive .nav-tabs li:last-child a {
    border-radius: 2px; }
  .videoArchive .nav-tabs li {
    margin-bottom: -2px;
    margin-right: -1px; }
    .videoArchive .nav-tabs li a {
      background-color: #F4F5F7;
      color: #344563;
      border-radius: 0;
      margin-right: 0;
      border: 1px solid #97A0AF; }
  .videoArchive .nav-tabs .active a {
    background-color: white;
    border-bottom: transparent;
    padding-bottom: 10px; }
    .videoArchive .nav-tabs .active a:hover {
      border: 1px solid #97A0AF;
      border-bottom: none; }
