.videoArchive {
  margin: 0 10%;

  .nav-tabs {
    li:first-child, li:last-child {
      a {
        border-radius: 2px;
      }
    }
    li {
      margin-bottom: -2px;
      margin-right: -1px;
      a {
        background-color: #F4F5F7;
        color: #344563;
        border-radius: 0;
        margin-right: 0;
        border: 1px solid #97A0AF;
      }
    }
    .active {
      a {
        background-color: white;
        border-bottom: transparent;
        padding-bottom: 10px;
        &:hover {
          border: 1px solid #97A0AF;
          border-bottom: none;
        }
      }
    }
  }
}