.tabContent {
  text-align: left;
  .trackHeader {
    padding: 1em 0em;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
  }

  .tabContainer {
    font-size: 15px;
    font-weight: bold;
    color: #172B4D;
    position: relative;
    display: flex;
    margin-top: 0 !important;
    a {
      width: 85%;
      color: #172B4D !important;
      border-top: 1px solid #97A0AF;
      border-radius: 0;
      .tabHeader {
        padding-top: 6px;
      }
      .tabSubHeader {
        color: #A5ADBA;
        font-size: 13px;
        padding-bottom: 6px;
      }
    }
  }
  .active {
    color: #172B4D;
    a {
      color: #172B4D !important;
      background-color: #EBECF0 !important;
    }
  }

  .tabPane {
    .qandaLink {
      background: none !important;
      color: #0052CC !important;
      margin: 1em 0;
      display: inline-block;
      cursor: pointer;
    }
    .speakerInfo {
      font-weight: bold;
      margin: 2em 0;
    }
  }
}