.tabContent {
  text-align: left; }
  .tabContent .trackHeader {
    padding: 1em 0em;
    text-align: left;
    font-weight: bold;
    font-size: 20px; }
  .tabContent .tabContainer {
    font-size: 15px;
    font-weight: bold;
    color: #172B4D;
    position: relative;
    display: flex;
    margin-top: 0 !important; }
    .tabContent .tabContainer a {
      width: 85%;
      color: #172B4D !important;
      border-top: 1px solid #97A0AF;
      border-radius: 0; }
      .tabContent .tabContainer a .tabHeader {
        padding-top: 6px; }
      .tabContent .tabContainer a .tabSubHeader {
        color: #A5ADBA;
        font-size: 13px;
        padding-bottom: 6px; }
  .tabContent .active {
    color: #172B4D; }
    .tabContent .active a {
      color: #172B4D !important;
      background-color: #EBECF0 !important; }
  .tabContent .tabPane .qandaLink {
    background: none !important;
    color: #0052CC !important;
    margin: 1em 0;
    display: inline-block;
    cursor: pointer; }
  .tabContent .tabPane .speakerInfo {
    font-weight: bold;
    margin: 2em 0; }
